{% extends 'base.html' %}

{% block title %}工艺介绍{% endblock %}

{% block main %}

<h2>一、妆花</h2>
<p>
  “妆花”是云锦中织造工艺最为复杂的品种，也是最具南京地方特色和代表性的提花丝织品种。“妆花”织物的特点是用色多，色彩变化丰富。在织造方法上，是用绕有各种不同颜色彩绒的纬管，对织料上的花纹做局部断纬挖花盘织，颜色变换比较自由。但在织物背面有彩色抛线（称作回梭穿绒），不耐摩擦，且花纹部分彩绒较厚，地纹部分没有彩绒，因此厚薄不均。
</p>
<p>
  “妆花”是云锦中以织造技法命名的著名品种，它包括妆花缎、妆花纱、妆花绸、妆花锦、妆花罗、妆花绢、妆花绒、金宝地等。建国后，继承下来的只有妆花缎。妆花缎的织物组织有“五枚缎”、“七枚缎”“八枚缎”，花纹单位有“八则”“四则”、“三则”“二则”、“一则”之别。
</p>

<h2>二、织金</h2>
<p>
  “织金”又名“库金”，也是因织成以后输入宫廷的“缎匹库”而得名。所谓“织金“，就是织料上的花纹全部用金线织出。也有花纹全部用银线织的，叫做“库银”。库金、库银属同一个品种，分类上统名之为“织金”。
</p>

<h2>三、库锦</h2>
<p>
  云锦中的“库锦”，也是因织成以后输入宫廷的“缎匹库”而得名，库锦是采用长跑彩纬通梭织制，色彩用分段换色的办法配置，在每一段只能配四五种颜色的彩纬。彩纬中有一组作地纬用，专门将反面不起花的彩纬压住，形成“扣背，所以库锦厚薄均匀，比较牢固。库锦类织物有许多品种，民间作坊中习惯的名称有：二色金库锦、彩花库锦、抹梭织锦、抹梭金宝地、芙蓉妆，还有与漳绒结合的彩花绒、金彩绒和金地彩花绒等。
</p>

<h2>四、库缎</h2>
<p>
  “库缎”又名“花缎”或“摹本缎”。库缎原是清代御用“贡品”，以织成后输入内务府的“缎匹库”而得名。”库缎”包括：起本色花库缎、地花两色库缎、妆金库缎、金银点库缎、和妆彩库缎几种。清代库缎多用团花，辛亥革命后，折枝花和散花流行，传统的团花织物则销往蒙藏地区作衣袍用。
</p>
{% endblock %}